/* Improted Google fonts- san serif */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* style Rule - Asterisk wildcard selector to override default styles added by the browser */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Setting General Styles */
body{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    /* Generic Project Styles*/
    color: #3a3a3a;
    font-family: 'lato', sans-serif;
}


/* Header */
header{
    background-color:#ffffff; /* note this in hexidecimal  */
    padding: 0 1rem; /* adding to padding bothleft and right*/
    position: fixed; /* fixing position so that scroll bar doesnt affect the header*/
    z-index: 99;  /* to make sure it's over laying any other i tems that might have z-index*/
    width: 100%; /* give it and 100% width so that he header fits the full screen*/
    box-shadow: 0  2px 2px #3a3a3a; /*to give nice looks*/
}
header a{
    text-decoration: none; /* to remove any text decoration*/
    color: inherit;  /* take care of the default link color being applied by the browser */
    letter-spacing: 2px;/* to give breathing space between the letters*/
    color:magenta;
}
/*Rules for menu id*/
#menu{
    font-size: 110%; /* text slightly larger than 110% */
    letter-spacing: 4px ;   /* letters space by 4px  */
    list-style-type: none;  /* remove pullet points on the list */
     
}
 /* Rules for list in menu*/
 #menu > li{
    margin-bottom: 1em;/* increase spacing by the bottom marging*/

 }

 /* Rules for home usiing class active */
 .active{
    border-bottom: 1px solid magenta; /* underlining the home navigation bar*/
 }

/* front fot h1*/
h1{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

/* Manin Content */
main{
    background-color: bisque;
     /* Make nain element to take up extra-space and should not shrink when ther is space left in it. Any surplus space to push footer down*/
    flex: 1 0 auto;
}

/* Footer*/
footer{
    background-color: lightpink;
}